/* Global Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-button-color: #61ce70;
	--primary-button-hover: #ff6b00;
	--form-bg: #fc5e00;
	--text-color: #ffffff;
	--footer-text-color: #000000;
}

body {
	font-family: 'Arial', sans-serif;
	min-height: 100vh;
}

/* Header */
header {
	padding: 0 1rem;
}

.header-wrapper {
	min-height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1350px;
}

.logo-div {
	margin-right: 20px;
	max-width: 250px;
	flex-shrink: 1;
}

.logo-div img {
	width: 100%;
	height: auto;
	display: block;
}

.back-to-site {
	margin-left: 20px;
}

.button {
	padding: 10px 30px;
	border-radius: 5px;
	color: var(--text-color);
	background-color: var(--primary-button-color);
	text-decoration: none;
	font-size: 15px;
	transition: background-color 0.2s ease-in-out;
}

.button:hover {
	cursor: pointer;
	background-color: var(--primary-button-hover);
}

/* Main */
main {
	background-color: var(--form-bg);
	min-height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-container {
	padding: 0 1.5rem;
}

.user-input {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

label {
	font-weight: bold;
	color: var(--text-color);
	font-size: 1rem;
}

input,
textarea {
	padding: 0.5rem;
	border: 1px solid var(--text-color);
	border-radius: 8px;
	width: 100%;
	margin-bottom: 1.1rem;
}

textarea {
	height: 300px;
}

input::file-selector-button {
	padding: 10px 10px;
	border-radius: 5px;
	color: var(--text-color);
	background-color: var(--primary-button-color);
	text-decoration: none;
	font-size: 15px;
	border: none;
}

input::file-selector-button:hover {
	cursor: pointer;
	background-color: var(--primary-button-hover);
}

.button-div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

#submit-button {
	border: none;
	width: 150px;
}

/* Footer */
footer {
	min-height: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 10px;
}

footer a {
	text-decoration: none;
	color: var(--footer-text-color);
}

/* Media Queries */

@media screen and (max-width: 450px) {
	#ucabot-logo {
		max-width: 200px;
	}
}
