/* Global Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Arial', sans-serif;
	min-height: 100vh;
}

/* Header */
header {
	padding: 0 20px;
}

.header-wrapper {
	min-height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1350px;
}

#ucabot-logo {
	width: 100%;
}

.back-to-site {
	margin-left: 20px;
}

.button {
	padding: 10px 30px;
	border-radius: 5px;
	color: #ffffff;
	background-color: #61ce70;
	text-decoration: none;
	font-size: 15px;
	transition: background-color 0.2s ease-in-out;
}

.button:hover {
	cursor: pointer;
	background-color: #ff6b00;
}

/* Main */
main {
	background-color: #fc5e00;
	min-height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

form {
	padding: 10px;
}

form h1 {
	color: #ffffff;
	margin-bottom: 20px;
}

.user-input {
	display: flex;
	flex-direction: column;
}

label {
	font-weight: bold;
	color: #ffffff;
	font-size: 1.3rem;
}

input,
textarea {
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 8px;
	width: 100%;
	margin-bottom: 20px;
}

textarea {
	height: 300px;
}

input::file-selector-button {
	padding: 10px 10px;
	border-radius: 5px;
	color: #ffffff;
	background-color: #61ce70;
	text-decoration: none;
	font-size: 15px;
	border: none;
}

input::file-selector-button:hover {
	cursor: pointer;
	background-color: #ff6b00;
}

.button-div {
	display: flex;
	align-items: center;
	justify-content: center;
}

#submit-button {
	border: none;
}

/* Footer */
footer {
	min-height: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 10px;
}

footer a {
	text-decoration: none;
	color: #000000;
}
