/* Global Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
}

/* Header */
.header-wrapper {
	padding: 0 30px;
	height: 140px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1350px;
}

.button {
	padding: 10px 30px;
	border-radius: 5px;
	color: #ffffff;
	background-color: #61ce70;
	text-decoration: none;
	font-size: 18px;
	transition: background-color 0.2s ease-in-out;
}

.button:hover {
	background-color: #ff6b00;
}
